services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command: #prometheus works with cli not env like grafana
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.external-url=http://localhost:9090/'
      - '--web.route-prefix=/'
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
    networks:
      - monitoring  
    restart: unless-stopped
    mem_limit: 512m
    cpus: 1.0
  
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD:-admin123}
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards/dashboard.yml:/etc/grafana/provisioning/dashboards/dashboard.yml
      - ./grafana/dashboards/json:/etc/grafana/provisioning/dashboards/json
    depends_on:
      - prometheus
    networks:
      - monitoring  
    restart: unless-stopped
    mem_limit: 512m
    cpus: 1.0
  
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    command: 
      - --path.rootfs=/host
    pid: host
    volumes:
      - /:/host:ro
    networks:
      - monitoring  
    restart: unless-stopped
    mem_limit: 128m
    cpus: 0.5

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8080:8080"
    networks:
      - monitoring
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.5


  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8080:8080"
    networks:
      - monitoring
    restart: unless-stopped
    mem_limit: 256m
    cpus: 0.5


volumes:
  grafana-data:
    driver: local 
  prometheus-data:
    driver: local

networks:
  monitoring:
    external: true
    name: monitoring