services:

  rabbitmq:
    build:
      context: .
      dockerfile: infra/rabbitmq/Dockerfile
    container_name: rabbitmq-service
    env_file:
      - .env
    ports:
      - "5671:5671"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: infra/nginx/Dockerfile
    container_name: nginx
    ports:
      - "8080:80"
      - "1443:443"
    depends_on:
      - user-service
      - game-service
      - chat-service
    networks:
      - app-network
    volumes:
      - nginx-logs:/var/log/nginx
    restart: unless-stopped

  user-service:
    image: node:20-alpine
    container_name: user-service
    ports:
      - "3001:3001"
    working_dir: /app
    command: sh -c "rm -rf /app/node_modules/.prisma 2>/dev/null; npm install && npx prisma generate && npx prisma migrate deploy && npm run dev"
    env_file:
      - .env
    volumes:
      - ./src/backend/user-service:/app
      - user-service-modules:/app/node_modules
      - user-data:/app/data
      - user-uploads:/app/public/uploads
    networks:
      - app-network
    depends_on:
      - rabbitmq
    restart: unless-stopped

  game-service:
    image: node:20-alpine
    container_name: game-service
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    env_file:
      - .env
    volumes:
      - ./src/backend/game-service:/app
      - game-service-modules:/app/node_modules
    networks:
      - app-network
    depends_on:
      - rabbitmq
    restart: unless-stopped

  chat-service:
    image: node:20-alpine
    container_name: chat-service
    working_dir: /app
    command: sh -c "npm install && npx prisma generate && npx prisma migrate deploy && npm run dev"
    env_file:
      - .env
    volumes:
      - ./src/backend/chat-service:/app
      - chat-service-modules:/app/node_modules
      - chat-data:/app/data
    networks:
      - app-network
    restart: unless-stopped

  blockchain-service:
    image: node:20-alpine
    container_name: blockchain-service
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    env_file:
      - .env
    volumes:
      - ./src/backend/blockchain-service:/app
      - blockchain-service-modules:/app/node_modules
    networks:
      - app-network
    depends_on:
      - rabbitmq
    restart: unless-stopped

volumes:
  nginx-logs:
  user-data:
  user-uploads:
  chat-data:
  user-service-modules:
  game-service-modules:
  chat-service-modules:
  blockchain-service-modules:
  rabbitmq_data:

networks:
  app-network:
    driver: bridge
    name: network
