services:
  rabbitmq:
    build:
      context: .
      dockerfile: infra/rabbitmq/Dockerfile
    container_name: rabbitmq
    env_file:
      - .env
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - app-network
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "rabbitmq"

  nginx:
    build:
      context: .
      dockerfile: infra/nginx/Dockerfile
    container_name: nginx
    ports:
      - "1443:443"
    depends_on:
      - user-service
      - game-service
      - chat-service
    networks:
      - app-network
      - elk
    volumes:
      - nginx-logs:/var/log/nginx
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "nginx"

  user-service:
    build: ./src/backend/user-service
    container_name: user-service
    env_file:
      - .env
    volumes:
      - user-public:/app/public
    networks:
      - app-network
      - monitoring
    depends_on:
      - rabbitmq
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "user-service"

  game-service:
    build: ./src/backend/game-service
    container_name: game-service
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - rabbitmq
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "game-service"

  chat-service:
    build: ./src/backend/chat-service
    container_name: chat-service
    env_file:
      - .env
    volumes:
      - chat-data:/app/data
    networks:
      - app-network
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "chat-service"

  blockchain-service:
    build: ./src/backend/blockchain-service
    container_name: blockchain-service
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - rabbitmq
    restart: unless-stopped
    logging:
      driver: gelf
      options:
        gelf-address: "udp://localhost:12201"
        tag: "blockchain-service"

volumes:
  rabbitmq-data:
  nginx-logs:
  user-public:
  chat-data:

networks:
  app-network:
    external: true
    name: network
  elk:
    external: true
    name: logging
  monitoring:
    external: true
    name: monitoring
