global:                                                                                                                                                          
  scrape_interval: 15s                                                                                                                                           
  evaluation_interval: 15s                                                                                                                                       
                                                                                                                                                                   
alerting:                                                                                                                                                        
  alertmanagers:                                                                                                                                                 
    - static_configs:                                                                                                                                            
        - targets:                                                                                                                                               
            - alertmanager:9093                                                                                                                                  
                                                                                                                                                                 
rule_files:                                                                                                                                                      
  - /etc/prometheus/alert_rules.yml                                                                                                                              
                                                                                                                                                                   
scrape_configs:
  - job_name: node_exporter
    scrape_interval: 5s
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: cadvisor
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8080']
  - job_name: alertmanager                                                                             
    scrape_interval: 5s                                                                                
    static_configs:                                                                                    
      - targets: ['alertmanager:9093']